<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
 <!--<![endif]-->

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="description" content="Name of your web site">
	<meta name="author" content="Marketify">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Julia | Home</title>

	<!-- STYLES -->
	<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/css/plugins.css" />
	<link rel="stylesheet" type="text/css" href="/css/dark.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/custom.css" />
	<!--[if lt IE 9]> <script type="text/javascript" src="/js/modernizr.custom.js"></script> <![endif]-->
	<!-- /STYLES -->

</head>

<body>

	<!-- PRELOADER -->
	<div id="preloader">
		<div class="loader_line"></div>
	</div>
	<!-- /PRELOADER -->
	<!-- WRAPPER ALL -->
	<div class="tokyo_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInLeft" data-exit="">

		<!-- MOBILE MENU -->
		<div class="tokyo_tm_topbar">
			<div class="topbar_inner">
				<div class="logo" data-type="image">
					<!-- You can use image or text as logo. data-type values are "image" and "text" -->
					<a href="#home">
						<img src="/img/logo/darkt.png" alt="" />
						<h3>Yulia Trushkova</h3>
					</a>
				</div>
				<div class="trigger">
					<div class="hamburger hamburger--slider">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tokyo_tm_mobile_menu">
			<div class="menu_list">
				<ul class="transition_link">
					<li class="active"><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>								
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
		<!-- /MOBILE MENU -->
		<!-- LEFTPART -->
		<div class="leftpart">
			<div class="leftpart_inner">
				<div class="logo" data-type="image">
					<!-- You can use image or text as logo. data-type values are: "image" and "text" -->
					<a href="#home">
						<img src="/img/logo/darkt.png" alt="" />
						<h3>Yulia</h3>
					</a>
				</div>
				<div class="menu">
					<ul class="transition_link">
						<li class="active"><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>									
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
				<div class="copyright">
					<p>&copy; 2023 Moscow</p>
				</div>
			</div>
		</div>
		<!-- /LEFTPART -->
		<!-- RIGHTPART -->
		<div class="rightpart">
			<div class="rightpart_in">
				<!-- HOME -->
				<div id="home" class="tokyo_tm_section animated">
					<div class="container">
						<div class="tokyo_tm_home">
							<div class="home_content">
								<div class="avatar" data-type="wave">
									<!-- data-type values are: "wave", "circle", "square"-->
									<div class="image" data-img-url="/img/portfolio/14_cr2_300.jpg"></div>
								</div>
								<div class="details">
									<h3 class="name">Юлия <span>Трушкова</span></h3>
									<p class="job">Разработчик C#</p>
									<div class="social">
										<ul>
											<li><a href="https://www.linkedin.com/in/yulia-trushkova"><i class="icon-linkedin-squared"></i></a></li>
											<li><a href="https://github.com/JuliaTrushkova"><i class="icon-github-squared"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /HOME -->

				<!-- ABOUT -->
				<div id="about" class="tokyo_tm_section">					
			
					<div class="container">
						<div class="tokyo_tm_about">
							<div class="tokyo_tm_title">
								<div class="title_flex">
									<div class="left">
										<span>About</span>
										<h3>Обо мне</h3>
									</div>
								</div>
							</div>
							<div class="top_author_image">
								<img src="/img/slider/trest2_990_80.jpg" alt="" />
							</div>
							<div class="about_title">
								<h3>Юлия Трушкова</h3>
								<span>Разработчик C#</span>
							</div>
							<div class="about_text">
								<p>Привет! Меня зовут Юлия и я разработчик C#. </p>
								
								<p>Увлекаюсь программированием почти всю свою жизнь. Еще в школе проходила курсы по Pascal и Delphi, потом пошла на Javascript, HTML и Photoshop. В университете уже был годичный курс по C# и matlab.</p>
								<p>Сейчас использую программирование на работе для решения производственных задач и дома для души как хобби. Люблю изучать новые технологии и слушать курсы, вебинары (ITVDN, OzonTech, youtube-каналы AlexOS, Yandex.Practicum и др.)</p>
								<p>Как хобби развиваю у себя дома сеть умного дома на основе Home Assitant, изучаю как работать с микрокомпьютерами </p>
							</div>
							<div class="tokyo_tm_short_info">
								<div class="left">
									<div class="tokyo_tm_info">
										<ul>
											<li class="shortleftju"><span>День рождения:</span><span>12.08.1989</span></li>
											<li class="shortleftju"><span>Город проживания:</span><span>Москва</span></li>
										</ul>										
									</div>
								</div>								
								<div class="right">
									<div class="tokyo_tm_info">
										<ul>
											<li class="shortrightju"><span>Почта:</span><span><a href="mailto:trushkova.forwork@gmail.com">trushkova.forwork@gmail.com</a></span></li>
											<li class="shortrightju"><span>Телефон:</span><span><a href="tel:+7 915 195 05 20">+7 915 195 05 20</a></span></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="tokyo_tm_button" data-position="left">
								<a href="/docs/cv_trushkova.pdf" download>
									<span>Скачать CV</span>
								</a>
							</div>
						</div>
					</div>
					
					<div class="tokyo_tm_progressbox">
						<div class="container">
							<div class="tokyo_section_title">
								<h3>Реализованные проекты:</h3>
							</div>
							<div class="in">
								<div class="left">
									<div id="mdv" style="position:fixed; top: 200px;"></div>
									
									<div class="tokyo_progress">
										<div class="progress_inner" data-value="100">
											<span><span class="label"><a href="https://github.com/JuliaTrushkova/Segy_Coord_lish_ugl_points" target="_blank">Обработка текстовых документов</a></span><span class="number"></span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="100">
											<span><span class="label"><a href="https://github.com/JuliaTrushkova/Mery_Graphics" target="_blank">Построение графиков</a></span><span class="number"></span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="100">
											<span><span class="label"><a href="https://github.com/JuliaTrushkova/Presentation" target="_blank">Автоматическое формирование презентаций</a></span><span class="number"></span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
									</div>
								</div>
								<div class="right">
									
									<div class="tokyo_progress">
										<div class="progress_inner" data-value="100">											
											<span><span class="label"><a href="https://github.com/JuliaTrushkova/TestMailKit" target="_blank">Работа с почтой</a></span><span class="number"></span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="100">											
											<span><span class="label"><a href="https://github.com/JuliaTrushkova/TestMailKit" target="_blank">Телеграм бот</a></span><span class="number"></span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
										<div class="progress_inner" data-value="100">
											<span><span class="label"><a href="https://github.com/JuliaTrushkova/TestGoogleAPI" target="_blank">Редактирование Google Sheets</a></span><span class="number"></span></span>
											<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tokyo_tm_skillbox">
						<div class="container">
							<div class="in">
								<div class="left">
									<div class="tokyo_section_title">
										<h3>Знания</h3>
									</div>
									<div class="tokyo_tm_skill_list">
										<ul>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />LINQ, Microsoft.Office.Interop.PowerPoint</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Mailkit, Telegram.Bot, Google API</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />EntityFrameworkCore, PostgreSQL</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Console, Windows.Forms, WPF, MVC</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />xUnit, Git (GitHub, GitFlic)</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Английский язык (Upper-intermediate)</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="right">
									<div class="tokyo_section_title">
										<h3>Интересы</h3>
									</div>
									<div class="tokyo_tm_skill_list">
										<ul>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Программирование на C#</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Асинхронное программирование</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Nginx</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Микрокомпьютеры</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Технологии умного дома</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Вождение машины и путешествия</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tokyo_tm_resumebox">
						<div class="container">
							<div class="in">
								<div class="left">
									<div class="tokyo_section_title">
										<h3>Образование</h3>
									</div>
									<div class="tokyo_tm_resume_list">
										<ul>
											<li>
												<div class="list_inner">
													<div class="time">
														<span>2010 - 2012</span>
													</div>
													<div class="place">
														<h3>МГУ им. Ломоносова</h3>
														<span>Кафедра сейсмометрии и геоакустики</span>
													</div>
												</div>
											</li>
											<li>
												<div class="list_inner">
													<div class="time">
														<span>2006 - 2010</span>
													</div>
													<div class="place">
														<h3>МГУ им. Ломоносова</h3>
														<span>Кафедра сейсмометрии и геоакустики</span>
													</div>
												</div>
											</li>											
										</ul>
									</div>
								</div>
								<div class="right">
									<div class="tokyo_section_title">
										<h3>Дополнительное образование</h3>
									</div>
									<div class="tokyo_tm_resume_list">
										<ul>
											<li>
												<div class="list_inner">
													<div class="time">
														<span>2022</span>
													</div>
													<div class="place">
														<h3>.NET DEVELOPER</h3>
														<span>ITVDN</span>
													</div>
												</div>
											</li>
											<li>
												<div class="list_inner">
													<div class="time">
														<span>2022</span>
													</div>
													<div class="place">
														<h3>Python в сейсмике</h3>
														<span>PetroPortal</span>
													</div>
												</div>
											</li>											
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>	
					<div class="tokyo_tm_skillbox">
						<div class="container">
							<div class="tokyo_section_title">
								<h3>Опыт работы</h3>
							</div>
							<div class="tokyo_section_title">
								<h5 style="color: #505050">ЗАО «МиМГО» (апрель 2014 — настоящее время)</h5>
							</div>
							<div class="in">
								<div class="left">
									
									<div class="tokyo_tm_skill_list">
										<ul>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Анализ сейсмических данных</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Разработка собственного ПО (С#)</span>
											</li>
											<li>
                                                <span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Разработка ПО в команде (составление ТЗ, участие в разработке, тестирование)</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Написание скриптов для имеющегося ПО</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Применение алгоритмов ML и статистического анализа</span>
											</li>											
										</ul>
									</div>
								</div>
								<div class="right">									
									<div class="tokyo_tm_skill_list">
										<ul>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Управление мультидисциплинарной группой</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Обучение сотрудников</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Экспертиза проектов</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Общение с заказчиком</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Защита проектов перед заказчиком и гос. органами</span>
											</li>
											<li>
												<span><img class="svg" src="/img/svg/rightarrow.svg" alt="" />Составление технических заданий для договоров</span>
											</li>											
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /ABOUT -->


				<!-- CONTACT -->
				<div id="contact" class="tokyo_tm_section">
					<div class="container">
						<div class="tokyo_tm_contact">
							<div class="tokyo_tm_title">
								<div class="title_flex">
									<div class="left">
										<span>Контакты</span>										
									</div>
								</div>
							</div>
							<div class="about_text">								
									<div class="left">
										<ul>
										<li><span>Почта:</span>	<span><a href="mailto:trushkova.forwork@gmail.com" style="color: darkblue">trushkova.forwork@gmail.com</a></span></li>
										<li><span>Телефон:</span><span><a href="tel:+7 915 195 05 20" style="color: darkblue">+7 915 195 05 20</a></span></li>
										</ul>
									</div>								
							</div>						
							
						</div>
					</div>
				</div>
				<!-- /CONTACT -->

			</div>
		</div>
		<!-- /RIGHTPART -->
		<!-- CURSOR -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /CURSOR -->

	</div>
	<!-- / WRAPPER ALL -->
	<!-- SCRIPTS -->
	<script src="/js/jquery.js"></script>
	<!--[if lt IE 10]> <script type="text/javascript" src="/js/ie8.js"></script> <![endif]-->
	<script src="/js/plugins.js"></script>
	<script src="/js/init.js"></script>
	<!-- /SCRIPTS -->

</body>
</html>
@RenderBody()
@RenderSection("Scripts", required: false)
@RenderSection("Head", required: false)